.button {
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 14px 40px;
    border-radius: 3px;
    background-color: #6C63FF;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    transition: all .24s ease;
    &:hover {
        box-shadow: 0px 5px 3px rgba(108, 99, 255, 0.24);
    }
}
