.button {
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #8E94F2;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    &--back {
    	background-color: #dcdcdc;
    	color: #212121;
    }
}
