* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #212121;
    font-family: $body-font;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #FDFDFD;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

h1, h2, h3 ,h4, h5 {
    font-family: $title-font;
}

a {
    text-decoration: none;
}
