.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 3rem);
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-end;
        height: 100%;
        &--left {
            width: 40%;
            img {
                width: 100%;
                height: auto;
            }
        }
        &--right {
            width: 60%;
            padding-left: 6em;
            padding-right: 4em;
            padding-bottom: 6em;
            h1, p {
                font-family: $title-font;
            }
            h1 {
                font-size: 1.125em;
                font-weight: normal;
                margin-bottom: 1em;
            }
            p {
                color: #6C63FF;
            }
        }
        .weather {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            &__block {
                @extend %align-v-h;
                flex-direction: column;
                flex-grow: 1;
                min-width: 4em;
                &:not(:last-child) {
                    margin-right: 1.5em;
                }
                h3, img {
                    margin-bottom: 1em;
                }
                h3 {
                    font-weight: normal;
                    font-size: .875em;
                    text-transform: uppercase;
                }
                img {
                    display: block;
                    width: 4em;
                    height: auto;
                }
                span {
                    font-size: 1.25em;
                    font-weight: normal;
                }
            }   
        }
    }
}
