.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 3rem);
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-end;
        height: 100%;
        &--left {
            width: 40%;
            img {
                width: 100%;
                height: auto;
            }
        }
        &--right {
            width: 60%;
            padding-left: 8em;
            padding-right: 6em;
            padding-bottom: 8em;
            @media screen and (max-width: 1600px) {
                padding-bottom: 6em;                
            }
            & > div {
                flex-basis: 100%;
            }
            p {
                line-height: 1.4;
                font-size: 1.4em;
                font-weight: 300;
                margin-bottom: 1.5rem;
                width: 80%;
            }
            a {
                margin-bottom: 12vh;
                @media screen and (max-width: 1600px) {
                    margin-bottom: 6vh;
                }   
                @media screen and (max-width: 768px) {
                    margin-bottom: 2em;
                }                
            }
            h1, h4 {
                font-family: $title-font;
                font-weight: normal;
            }
            h1 {
                font-size: 2em;                
                margin-bottom: .8em;
                @media screen and (max-width: 1600px) {
                    margin-bottom: .5em;
                }                
            }
            h4 {
                font-size: 1.2em;
                color: #6C63FF;
            }
        }
        .weather {
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            min-height: 8.375em;
            margin-top: 4em;
            &__block {
                @extend %align-v-h;
                flex-direction: column;
                &:not(:last-child) {
                    margin-right: 1.5em;
                }
                h3, img {
                    margin-bottom: 1em;
                }
                h3 {
                    font-weight: normal;
                    font-size: .875em;
                    text-transform: uppercase;
                }
                img {
                    display: block;
                    width: 4em;
                    height: 4em;
                }
                span {
                    font-size: 1.25em;
                    font-weight: normal;
                }
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        @media screen and (max-width: 768px) {
            &--left, &--right {
                width: 100%;
                height: auto;
            }
            &--left {
                img {
                    width: 60%;
                }
            }
            &--right {
                padding-left: 2em;
                padding-right: 2em;
                padding-bottom: 1em;
                p {
                    font-size: 1.2em;
                    width: 100%;
                }
                h1 {
                    font-size: 1.25em;
                }
                h4 {
                    font-size: 1em;
                    margin: 0;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        flex-wrap: wrap-reverse;    
    }
}
